{% if include.article.original %}
<hr>
<small><table style="border: none; margin: 8px 0 8px 0; background-color: white; width: 100%;"><tr style="margin: 0; padding: 0">
  <td style="border: none; background-color: white; margin: 0; padding: 0; width: 48%; vertical-align: top">
    Оригинал: <a href="{{ include.article.original }}">{{ include.article.original }}</a>
  </td>
  <td style="border: none; background-color: white; margin: 0; padding: 0; width: 4%">&nbsp;&nbsp;</td>
  <td style="border: none; background-color: white; margin: 0; padding: 0; width: 48%; text-align: right; vertical-align: top">
    {% if page.translated_by %}Перевод: {{ page.translated_by | split: ", " }}{% endif %}{% if page.translation_details %} ({{ page.translation_details }}){% endif %}{% if page.edited_by %}, редактура: {{ page.edited_by | split: ", " }}{% if page.edition_details %} ({{ page.edition_details }}){% endif %}{% endif %}
  </td>
</tr>{% if include.article.license %}<tr style="margin: 0; padding: 0"><a href="{{ include.article.license[1] }}">{{ include.article.license[0] }}</a></tr>{% endif %}</table></small>
{% endif %}
