a {
  color: #0000A7;	
}

@font-face {
  font-family: PTSerif;
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha-Regular.ttf);
}
@font-face {
  font-family: Caveat;
  src: url(../fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Angeme;
  src: url(../fonts/Angeme.ttf);
}
@font-face {
  font-family: Czizh;
  src: url(../fonts/Czizh.ttf);
}
@font-face {
  font-family: Equilibrist;
  src: url(../fonts/Equilibrist.ttf);
}
@font-face {
  font-family: Gnocchi;
  src: url(../fonts/Gnocchi.ttf);
}
@font-face {
  font-family: Oprah;
  src: url(../fonts/Oprah.ttf);
}

html {
  font-family: PTSerif;
}

.page-title {
  font-family:verdana
}
.page-title-inline {
  display: inline;
  margin-top: 0;
}

.container-masthead {
  background-color: rgb(237, 237, 237);
}
.masthead {
  padding-top: 0.5em;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  border-bottom: 1px solid #eee;
  background-color: rgb(237, 237, 237);
}
.masthead-title,
.masthead-title a {
  font-family: Neucha;
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 0;
  color: #00008B;
  font-weight: bold;
  text-align: center;
}
.masthead-subtitle,
.masthead-subtitle a {
  font-family: Oprah;
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  font-weight: bold;
  text-align: center;
}

.bottom {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  border-top: 1px solid #eee;
  background-color: rgb(237, 237, 237);
}

.additional-cell {
  width: 120px
}
@media (max-width: 480px) {
  .additional-cell {
	width: 0  
  }
}

.underline {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin: 1;
  padding: 1;
}

.list li {
  list-style-type: none;
}

.sublist li {
  list-style-type: none;
}
.sublist li:before {
  content: "> ";
}

.contents {
  background-color: rgb(237, 237, 237);
  padding: 1% 3% 1% 3%;
  border: 0.05em solid rgb(227, 227, 227);
}

.link {
  font-weight: normal; 
  color: rgb(100, 100, 180);
  background-color: rgb(237, 237, 250);
  padding: 1% 3% 1% 3%;
  border: 0.05em solid rgb(227, 227, 227);
}

.navigation, 
.navigation a {
  text-align: center;
  font-size:18px;
  color: #505050;
}

/* Body text */
p {
  text-align: justify;
}

/* Quotes */
blockquote {
  color: rgb(110, 110, 110);
}
@media (min-width: 30em) {
  blockquote {
    padding-right: .5rem;
  }
}

img {
  margin: 2%;
}
