<!DOCTYPE html>

<html lang="ru">

{% include head.html %}

<body>

<aside class="lside bar">

<center><img src="/assets/images/picture2.png" style="width: 4em; max-width: none">

{% include logo.html %}</center>

<br><br><br>

<a href="/index.html">на главную</a>

<br><br><br><br><br>

{% include social.html %}

</aside>

<div class="wrapper">

<main class="content">

{{ content }}

</main>

<aside class="rside bar" style="color: black">

<div align="left">

{% assign p=page.id | remove_first: "/" %}
{% for a in site.data.sections %}
{% if a.articles contains p %}
{% unless a.s=="red" %}{% include section.html s=a.s small="true" %}{% endunless %}
{% include list.html s=a.s small="true" %}<hr>
{% endif %}
{% endfor %}

</div>

</aside>

</div>

</body>

</html>
